.Page3 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.Page3>h2{
  color: #e69a7a;
  font-size: 50px;
  font-weight: 100;
  font-family: sans-serif;
}

.discover__container {
  width: 85%;
  height: 80%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  column-gap: 0;
}

.discover__container > a{
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

/* .discover__card{
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
} */

img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.discover__data{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 1px;
  left: 0;
  background-color: black;
  width: 100%;
  height: 30%;
  border-top: 2px solid #e69a7a;
}

.discover__title{
  color: #e69a7a;
  font-size: 1rem;
  margin-bottom: .25rem;
}

.discover__description{
  color: #e69a7a;
  display: block;
  font-size: .75rem;
}

.discover__img{
  transition: .3s;
}

.discover__img:hover{
  transform: scale(1.1);
}

.section__title{
  font-size: 25px;
  margin: 0 0 15px 0;
  font-family: sans-serif, cursive;
  font-weight: 100;
  color: #FFFFFF;
}
