.Page4 {
  width: 100vw;
  height: 100vh;
  background: transparent no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: sans-serif;
}

.title {
  position: relative;
  top: -100px;
  left: 400px;
  font-size: 20px;
  font-weight: 100;
  color: #e69a7a;
}

.image1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 50%;
}

.phone_number {
  position: relative;
  color: white;
  background-color: transparent;
  top: 180px;
  left: -10%;
  border: 3px solid black;
  border-radius: 8px;
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.phone_number>h1 {
  font-family: sans-serif, cursive;
  font-size: 30px;
  font-weight: 100;
  text-decoration: underline;
}

.phone_number>p {
  font-family: sans-serif, cursive;
  font-size: 30px;
  font-weight: 100;
  text-decoration: underline;
}

.email_address {
  position: relative;
  color: white;
  background-color: transparent;
  top: 180px;
  right: 0;
  border: 3px solid black;
  border-radius: 8px;
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.email_address>h1 {
  font-family: sans-serif, cursive;
  font-size: 30px;
  font-weight: 100;
  text-decoration: underline;
}

.email_address>p {
  font-family: sans-serif, cursive;
  font-size: 30px;
  font-weight: 100;
  text-decoration: underline;
}